{% extends 'base.html' %}

{% block title %}Categories{% endblock title %}

{%block content %}
        <header>
            <nav>
                <ul>
                    <li>
                        <a href="{% url 'logout' %}">Logout</a>
                    </li>
                    <li>
                        <a href="{% url 'create_category' %}">Create Category</a>
                    </li>
                    <li>
                        <a href="{% url 'account_list' %}">My Accounts</a>
                    </li>
                    <li>
                        <a href="{% url 'home' %}">My Receipts</a>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
            <h1>
                My Categories
            </h1>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of receipts</th>
                    </tr>
                </thead>
                <tbody>
                    {%for category in categories%}
                    <tr>
                        <td>{{category.name}}</td>
                        <td>{{category.reciepts.all|length}}</td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </main>
{% endblock content %}
