{% extends 'base.html' %}

{% block title %}Categories{% endblock title %}

{%block content %}
        <header>
            <nav>
                <ul>
                    <li>
                        <a href="{% url 'logout' %}">Logout</a>
                    </li>
                    <li>
                        <a href="{% url 'create_account' %}">Create Account</a>
                    </li>
                    <li>
                        <a href="{% url 'category_list' %}">My Categories</a>
                    </li>
                    <li>
                        <a href="{% url 'home' %}">My Receipts</a>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
            <h1>
                My Account
            </h1>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Account Number</th>
                        <th>Number of receipts</th>
                    </tr>
                </thead>
                <tbody>
                    {%for account in accounts%}
                    <tr>
                        <td>{{account.name}}</td>
                        <td>{{account.number}}
                        <td>{{account.reciepts.all|length}}</td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </main>
{% endblock content %}
