{% extends 'base.html' %}

{% block title %}Receipts{% endblock title %}

{%block content %}
        <header>
            <nav>
                <ul>
                    <li>
                        <a href="{% url 'logout' %}">Logout</a>
                    </li>
                    <li>
                        <a href="{% url 'create_receipt' %}">Create Receipt</a>
                    </li>
                    <li>
                        <a href="{% url 'account_list' %}">My Accounts</a>
                    </li>
                    <li>
                        <a href="{% url 'category_list' %}">My Categories</a>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
            <h1>
                My Receipts
            </h1>
            <table>
                <thead>
                    <tr>
                        <th>Vendor</th>
                        <th>Total</th>
                        <th>Tax</th>
                        <th>Date</th>
                        <th>Category</th>
                        <th>Account</th>
                    </tr>
                </thead>
                <tbody>
                    {%for receipts in receipts%}
                    <tr>
                        <td>{{receipts.vendor}}</td>
                        <td>{{receipts.total}}</td>
                        <td>{{receipts.tax}}</td>
                        <td>{{receipts.date|date:"n/j/y"}}</td>
                        <td>{{receipts.category.name}}</td>
                        <td>{{receipts.account.name}}</td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </main>
{% endblock content %}
